<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ConnectionStrings>
    <add name="EmployeeDetailsDB" connectionString="Server=DESKTOP-HI19460\SQLEXPRESS;  Database=EmployeeDetailsDatabase; Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
  </ConnectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>